.post{
    &-sm{
        &__image{
            img{
                max-width: 73px;
            }
            
        }
    }
    &-meta{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                font-size: 12px;
                color: $gray-500;
                &:not(:first-child){
                    &::before{
                        content:"";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 100%;
                        margin: 0 8px;
                        background-color: $gray-300;
    
                    }
                }
                
                a{
                    font-size: 12px;
                    color: $gray-500;
                }
            }
        }
    }
    &-react{
        
        &__bar{
            margin-left: -15px;
            margin-right: -15px;
            padding: 20px;
            display: flex;
            justify-content:space-between ;
            border-top: 1px solid #ccc;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
            ul{
                margin: 0;
                li,
                a{
                    font-size: 14px;
                }
                li{
                    &::before{
                        
                    }
                }
            }
        }
    }
}

ul{
    &.has-dots{
        li{
            position: relative;
            &:not(:first-child){
                padding-left: 20px;
            }
            &:not(:first-child){
                &::before{
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background-color: #ddd;
                    border-radius: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 06px;
                }
            }
           
        }
    }
}

