.tags{
    &-link{
        display: inline-block;
        padding: 3px 10px;
        font-size: $font-size-sm;
        border: 2px solid #ddd;
        border-radius: 8px;
        margin: 0 10px 15px 0 ;
    }
}


